html {
    scroll-behavior: smooth;
    }
.body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}



.navigation_block
{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation_list
{
    display: flex;
    justify-content:space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list_item
{
   padding-right: 120px;
   
}
.navigation_link
{
    text-decoration: none;
    color: white;
}

.header_block
{
    background-color: black;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.photo_My
{
    width: 400px;
    height: 300px;
}

.photo_block
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 400px;
}
.about_me_block
{
    background-color: black;
    width: 600px;
}

._about_p_FIO
{
    margin: 0;
    margin-top: 88px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
}

._about_p_JUNIOR
{
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 4px;
    color: white;
    border-bottom: 5px solid white;
}
.about_me_text
{
    color: white;
}

.information_block
{
    background-color: wheat;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ed-ho-block
{
    background-color: chartreuse;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ex-sk-co-block
{
    background-color: cyan;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.education_block
{
    background-color: black;
    height: 350px;
    width: 350px;


}
.hobbies_block
{
    background-color: cyan;
    height: 350px;
    width: 350px;
}
.experience_block
{
    background-color: darkslategrey;
    height: 200px;
    width: 500px;
}
.skills_block
{
    background-color: greenyellow;
    height: 200px;
    width: 500px;
}
.contacts_block
{
    background-color: black;
    height: 200px;
    width: 500px;
}
.footer_block
{
    background-color: black;
    height: 100px;
}